*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Nunito',sans-serif;
    
}
body{
    background-color: #000000;
}
/* .wrapper{
    width: 100vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display:grid;
    grid-template-rows: repeat(3,12em);
    
} */
.statistic{
    width: 100%;
}

.total_case_box{
    
    background-color: #fafafa;
    box-shadow: 2px 2px 8px rgba(30,30,30,.2);
    margin: 10px 15px;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
}
.total_case_box p{
    font-size: 3rem;
}







.wrapped{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 15em) ;
    height: 40%;
    width:100%;
    background:red;


}